<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Address</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:replace="fragments/sourceTambahan"></div>
        <form th:object="${addressForm}" th:action="@{save}" method="POST">
            City : <input type="text" th:field="*{city}"/><br>
            Id : <input type="text" th:field="*{id}"/><br>
            Province : <input type="text" th:field="*{province}"/><br>
            Street 1 : <input type="text" th:field="*{street1}"/><br>
            Street 2 : <input type="text" th:field="*{street2}"/><br>
            zipCode : <input type="text" th:field="*{zipCode}"/><br>
            <input type="submit" value="Update" name="Update"/>

        </form>
        <br><br>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Street1</th>
                    <th>Street2</th>
                    <th>City</th>
                    <th>Province</th>
                    <th>ZIPCODE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="as : ${address}">
                    <td th:text="${as.id}"></td>
                    <td th:text="${as.street1}"></td>
                    <td th:text="${as.street2}"></td>
                    <td th:text="${as.city}"></td>
                    <td th:text="${as.province}"></td>
                    <td th:text="${as.zipCode}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
