<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Basic</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                overflow-x: hidden; 
            }
        </style>

    </head>
    <body style="background-color: #C7AC92">
        <div th:replace="fragments/sourceTambahan"></div>

        <nav class="navbar navbar-light bg-light fixed-top">
            <a class="navbar-brand">Metrodata Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/address}">Address</a>
                            <a class="dropdown-item active">Basic</a>
                            <a class="dropdown-item" th:href="@{/contact}">Contact</a>
                            <a class="dropdown-item" th:href="@{/currentoccupation}">Current Occupation</a>
                            <a class="dropdown-item" th:href="@{/education}">Education</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br><br><br>
        <div class="container ml-n1">
            <form th:object="${basicForm}" th:action="@{/basic/save}" method="POST">
                <div class="form-group row">
                    <label for="inputBirth" class="col-sm-2 col-form-label">Birth Date</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{birthDate}" class="form-control" id="inputBirth" placeholder="Birth Date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{email}" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{gender}" class="form-control" id="inputGender" placeholder="Gender">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputId" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{id}" class="form-control" id="inputId" placeholder="Id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{name}" class="form-control" id="inputName" placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-xs-1">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div> 
            </form>
        </div>
        <br><br>
        <form action="/basic/get" method="get">
            <label>Id : </label><input type="text" id="id" name="id"> 
            <button class="btn btn-secondary">Search </button>
        </form>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Show Data</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--<form th:object="${addressForm}" th:action="@{/address/{id}}" method="POST">-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Show Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--
                        Id : <input type="text" th:field="*{id}"/>
                        <input type="submit" value="Search" name="Search"/>
                        -->

                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>NAME</th>
                                    <th>BIRTHDATE</th>
                                    <th>GENDER</th>
                                    <th>EMAIL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="as : ${basic}">
                                    <td th:text="${as.id}"></td>
                                    <td th:text="${as.name}"></td>
                                    <td th:text="${as.birthDate}"></td>
                                    <td th:text="${as.gender}"></td>
                                    <td th:text="${as.email}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>

                </div>
                <!--</form>-->
            </div>
        </div>


    </body>
</html>
