<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Basic</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: #C7AC92">
        <div th:replace="fragments/sourceTambahan"></div>

        <nav class="navbar navbar-light bg-light fixed-top">
            <a class="navbar-brand">Metrodata Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/address}">Address</a>
                            <a class="dropdown-item active" th:href="@{/basic}">Basic</a>
                            <a class="dropdown-item" th:href="@{/contact}">Contact</a>
                            <a class="dropdown-item" th:href="@{/currentoccupation}">Current Occupation</a>
                            <a class="dropdown-item" th:href="@{/education}">Education</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br><br><br>
        <form th:object="${basicForm}" th:action="@{save}" method="POST">

            <div class="row">
                <div class="col-md-1">
                    <label for="city">Birth Date :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{birthDate}"/>
                </div>
                <div class="col-md-1">
                    <label for="city">Email :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{email}"/>
                </div>
                <div class="col-md-1">
                    <label for="city">Gender :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{gender}"/>
                </div>
                <div class="col-md-1">
                    <label for="city">Id :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{id}"/>
                </div>
                <div class="col-md-1">
                    <label for="city">Name :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{name}"/>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" value="Update" name="Update"/>
                </div>
            </div>




        </form>
        <br><br>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Show Data</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--<form th:object="${addressForm}" th:action="@{/address/{id}}" method="POST">-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Show Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--
                        Id : <input type="text" th:field="*{id}"/>
                        <input type="submit" value="Search" name="Search"/>
                        -->

                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>NAME</th>
                                    <th>BIRTHDATE</th>
                                    <th>GENDER</th>
                                    <th>EMAIL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="as : ${basic}">
                                    <td th:text="${as.id}"></td>
                                    <td th:text="${as.name}"></td>
                                    <td th:text="${as.birthDate}"></td>
                                    <td th:text="${as.gender}"></td>
                                    <td th:text="${as.email}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>

                </div>
                <!--</form>-->
            </div>
        </div>


    </body>
</html>
