<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Contact</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                overflow-x: hidden; 
            }
        </style>
    </head>
    <body style="background-color: #C7AC92">
        <div th:replace="fragments/sourceTambahan"></div>

        <nav class="navbar navbar-light bg-light fixed-top">
            <a class="navbar-brand">Metrodata Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/address}">Address</a>
                            <a class="dropdown-item" th:href="@{/basic}">Basic</a>
                            <a class="dropdown-item active">Contact</a>
                            <a class="dropdown-item" th:href="@{/currentoccupation}">Current Occupation</a>
                            <a class="dropdown-item" th:href="@{/education}">Education</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br><br><br>
        <div class="container ml-5">
            <div class="form-group row">
                <div class="col-xs-5">
                    Search For the Id
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-5">
                    <form action="/contact/get" method="get">
                        <label for="idSearch">Id : </label><input type="text" id="idSearch" name="id"> 
                        <button class="btn btn-secondary">Search </button>
                    </form>

                </div>
                &nbsp;&nbsp;
                <div class="col-xs-5">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Show Data</button>
                </div>

            </div>

        </div>
        <br>
        <div class="container ml-4">
            <form th:object="${contactForm}" th:action="@{/contact/save}" method="POST" class="needs-validation" novalidate>
                <div class="form-group row">
                    <label for="inputFacebook" class="col-sm-1 col-form-label">Facebook</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{facebook}" class="form-control" id="inputFacebook" placeholder="Facebook" required>
                        <div class="invalid-feedback">Please enter Facebook field</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputId" class="col-sm-1 col-form-label">Id</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{id}" class="form-control" id="inputId" placeholder="Id" required>
                        <div class="invalid-feedback">Please enter Id field</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputInstagram" class="col-sm-1 col-form-label">Instagram</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{instagram}" class="form-control" id="inputInstagram" placeholder="Instagram" required>
                        <div class="invalid-feedback">Please enter Instagram field</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLinkedin" class="col-sm-1 col-form-label">Linkedin</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{linkedin}" class="form-control" id="inputLinkedin" placeholder="Linkedin" required>
                        <div class="invalid-feedback">Please enter Linkedin field</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="col-sm-1 col-form-label">Phone</label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{phone}" class="form-control" id="inputPhone" placeholder="Phone" required>
                        <div class="invalid-feedback">Please enter Phone field</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 offset-xs-1">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <br><br>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--<form th:object="${addressForm}" th:action="@{/address/{id}}" method="POST">-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Show Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--
                        Id : <input type="text" th:field="*{id}"/>
                        <input type="submit" value="Search" name="Search"/>
                        -->

                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>PHONE</th>
                                    <th>INSTAGRAM</th>
                                    <th>LINKEDIN</th>
                                    <th>FACEBOOK</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="as : ${contact}">
                                    <td th:text="${as.id}"></td>
                                    <td th:text="${as.phone}"></td>
                                    <td th:text="${as.instagram}"></td>
                                    <td th:text="${as.linkedin}"></td>
                                    <td th:text="${as.facebook}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>

                </div>
                <!--</form>-->
            </div>
        </div>


    </body>
</html>
