<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <form th:object="${occupationForm}" th:action="@{save}" method="POST">
            CurrentCompany : <input type="text" th:field="*{currentCompany}"/><br>
            Id : <input type="text" th:field="*{id}"/><br>
            Job : <input type="text" th:field="*{job}"/><br>
            Website : <input type="text" th:field="*{website}"/><br>
            <input type="submit" value="Update" name="Update"/>

        </form>
        
        <br><br>
        
        <table border="1">
            <thead>
                <tr>
                    <th>WEBSITE</th>
                    <th>CURRENTCOMPANY</th>
                    <th>ID</th>
                    <th>JOB</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="as : ${occupation}">
                    <td th:text="${as.website}"></td>
                    <td th:text="${as.currentCompany}"></td>
                    <td th:text="${as.id}"></td>
                    <td th:text="${as.job}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
