<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Education</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: #C7AC92">
        <div th:replace="fragments/sourceTambahan"></div>
        <nav class="navbar navbar-light bg-light fixed-top">
            <a class="navbar-brand">Metrodata Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/address}">Address</a>
                            <a class="dropdown-item" th:href="@{/basic}">Basic</a>
                            <a class="dropdown-item" th:href="@{/contact}">Contact</a>
                            <a class="dropdown-item" th:href="@{/currentoccupation}">Current Occupation</a>
                            <a class="dropdown-item active" th:href="@{/education}">Education</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br><br><br>
        <form th:object="${educationForm}" th:action="@{save}" method="POST">
            <div class="row">
                <div class="col-md-1">
                    <label for="city">Degree :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{degree}"/>
                </div>
                <div class="col-md-1">
                    <label for="city">Id :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{id}"/>
                </div>
                <div class="col-md-1">
                    <label for="city">Major :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{status}"/>
                </div>
                <div class="col-md-1">
                    <label for="city">Status :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{status}"/>
                </div>
                <div class="col-md-1">
                    <label for="city">University :</label> 
                </div>
                <div class="col-md-11">
                    <input type="text" th:field="*{university}"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" value="Update" name="Update"/>
                </div>
            </div>
           
        </form>

        <br><br>
        <table border="1">
            <thead>
                <tr>
                    <th>MAJOR</th>
                    <th>UNIVERSITY</th>
                    <th>DEGREE</th>
                    <th>ID</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="as : ${education}">
                    <td th:text="${as.major}"></td>
                    <td th:text="${as.university}"></td>
                    <td th:text="${as.degree}"></td>
                    <td th:text="${as.id}"></td>
                    <td th:text="${as.status}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
