<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Education</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:object="${educationForm}" th:action="@{save}" method="POST">
            Degree : <input type="text" th:field="*{degree}"/><br>
            Id : <input type="text" th:field="*{id}"/><br>
            Major : <input type="text" th:field="*{major}"/><br>
            Status : <input type="text" th:field="*{status}"/><br>
            University : <input type="text" th:field="*{university}"/><br>
            <input type="submit" value="Update" name="Update"/>

        </form>

        <br><br>
        <table border="1">
            <thead>
                <tr>
                    <th>MAJOR</th>
                    <th>UNIVERSITY</th>
                    <th>DEGREE</th>
                    <th>ID</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="as : ${education}">
                    <td th:text="${as.major}"></td>
                    <td th:text="${as.university}"></td>
                    <td th:text="${as.degree}"></td>
                    <td th:text="${as.id}"></td>
                    <td th:text="${as.status}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
