<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Metrodata Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body style="background-color: #C7AC92">
        <div th:replace="fragments/sourceTambahan"></div>
        <nav class="navbar navbar-light bg-light fixed-top">
            <a class="navbar-brand">Metrodata Website</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/address}">Address</a>
                            <a class="dropdown-item" th:href="@{/basic}">Basic</a>
                            <a class="dropdown-item" th:href="@{/contact}">Contact</a>
                            <a class="dropdown-item" th:href="@{/currentoccupation}">Current Occupation</a>
                            <a class="dropdown-item" th:href="@{/education}">Education</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br><br><br><br><br><br>



        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Selamat Datang Di Website Kami</h5>
                <p class="card-text">Disini Para programmer full stack berkumpul</p>
                <a class="btn btn-info" th:href="@{/login}" role="button">Login</a>
            </div>
        </div>


        <img src="https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" width="200" height="200">
 



    <footer class="fixed-bottom text-center" style="background-color: yellow"> 
        @Copyright Matthew Adian
    </footer>





</body>
</html>
